__pycache__/
*.py[cod]
*.egg-info
dist
MUJOCO_LOG.TXT
.idea/
logs/
path/
wandb/
continual_rl/
notebooks/*.ipynb
notebooks/*.pdf
notebooks/*.pickle
notebooks/data
procgen
*.drawio
*.ipynb
*.csv
*.pdf
*.svg
*.png
*.gif
*.mp4